<link rel="stylesheet" href="https://i.icomoon.io/public/temp/f547669153/UntitledProject/style.css">
<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <form >
      <div class=" pull-right">
    &nbsp;<button routerLink="products"  class="btn btn-outline-secondary" type="button"><span class="icon-list2"></span>&nbsp;<b>List</b> </button>
    &nbsp;&nbsp;<button routerLink="create-product"  class="btn btn-outline-secondary" type="button">
      <span class="icon-plus"></span>
    </button>
  </div> </form>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
<router-outlet></router-outlet>
</div>
<footer class="footer bg-light">
  <div class="container">
    <p>To contact @NadiNajlae 2023</p>
  </div>
</footer>
