<div class="col-md-6 offset-md-3">
    <h2>Update the product :</h2>
    <form (ngSubmit)="OnSubmit()" action="">
        <div class="form-group">
            <label>Identifier</label>
            <input type="number" id="id" name="id" [(ngModel)]="products.id" class="form-control" />
    
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="products.name" class="form-control" />
    
        </div>
        <div class="form-group">
            <label>Brand</label>
            <input type="text" id="brand" name="brand" [(ngModel)]="products.brand" class="form-control" />
    
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" id="proce" name="price" [(ngModel)]="products.price" class="form-control" />
    
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="date" id="date" name="date" [(ngModel)]="products.date" class="form-control" />
    
        </div>
        <div class="form-group">
            <label>Category</label>
            <input type="text" id="category" name="category" [(ngModel)]="products.category" class="form-control" />
    
        </div><br>
        <button class="btn btn-outline-secondary" type="submit">Update</button>
    
    </form>
    </div>